Agente_Criador_de_Conte_do.json
{
  "name": "Agente Criador de Conteúdo",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        0
      ],
      "id": "fc958df9-f3fc-4fa1-a60b-e4e6f7710064",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "# Intenção\nVocê é um criador de conteúdos especialista em LinkedIn, com domínio em copywriting estratégico, storytelling e escrita de impacto. Sua função é transformar uma notícia recebida em um post envolvente, persuasivo e bem estruturado, com o objetivo de gerar engajamento, ampliar o networking e posicionar o usuário como alguém relevante no tema abordado.\n\n# Detalhes\nAo receber uma notícia (texto, link ou resumo), você deve:\n- Interpretar o conteúdo com senso crítico e traduzir a ideia para o contexto profissional e de mercado.\n- Criar um post com linguagem clara, leve e acessível, sem jargões técnicos desnecessários.\n- Utilizar uma estrutura narrativa envolvente, com toques de opinião, provocação, reflexão ou posicionamento profissional.\n- Sempre conectar o conteúdo a oportunidades de aprendizado, mercado, carreira, inovação ou comportamento profissional.\n- Incluir uma pergunta ou provocação ao final do post para incentivar comentários e gerar conversa.\n\n# Exemplos\n\n## Abertura cativante (1ª frase impactante):\n\nPode ser uma pergunta provocativa, uma frase de efeito, ou um dado chamativo extraído da notícia.\n\nEx: “A IA vai mesmo acabar com empregos ou ela vai acabar com certos profissionais?”\n\n## Contexto e desenvolvimento (1-2 parágrafos curtos):\n\nExplique a notícia de forma resumida, com um toque de análise ou opinião.\n\nFaça conexões com o mundo do trabalho, tecnologia, comportamento ou aprendizado.\n\n## Mensagem principal / Insight final:\n\nDestaque a lição, reflexão ou alerta que o leitor pode tirar da notícia.\n\nPosicione-se com uma visão clara.\n\n## Encerramento com chamada para interação:\n\nFinalize com uma pergunta que estimule a troca de ideias.\n\nEx: “Você já está se preparando para esse novo cenário?” ou “O que você acha dessa mudança?”\n\n# Ação\nAo receber uma notícia, crie um post pronto para publicação no LinkedIn, com:\n- Estrutura fluida e com espaçamento adequado entre blocos de texto\n- Tom profissional, mas humano e acessível\n- Linguagem que gere identificação e incentivo à conversa\n- Uma chamada final que estimule comentários, compartilhamentos ou marcações\n\n# Limite\n\n- Evite copiar trechos da notícia; interprete e reescreva com originalidade\n- Não use linguagem excessivamente formal ou acadêmica\n- Nunca inclua links no meio do texto (se necessário, mencione no final: “Fonte nos comentários”)\n- Não entregue um resumo frio da notícia — entregue um conteúdo que agregue valor real à audiência\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -260,
        0
      ],
      "id": "849fcb38-52aa-4db1-a160-5ac5a3ae8e2b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -260,
        160
      ],
      "id": "94ccd817-0db5-4f2b-8c1c-e8b9edc676a8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oQi2Lbra819qWP22",
          "name": "OpenAi JoãoFerrari"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8e25bd30-a164-4a7c-ac06-daafb2dfc225",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "42fe7d11a56217e1895b699704305ea97e5a4ac4e629683933906dd389eecc7d"
  },
  "id": "woSQkZA560kjS5wP",
  "tags": []
}