Agente_Pesquisador.json
{
  "name": "Agente Pesquisador",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -440,
        20
      ],
      "id": "cab8a8a3-17d7-42cd-9653-011a9618d91e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -260,
        220
      ],
      "id": "4a42ce06-d3de-4445-8e5c-463cdac4bee8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oQi2Lbra819qWP22",
          "name": "OpenAi JoãoFerrari"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -60,
        220
      ],
      "id": "efc77f2e-dbae-484b-bbd3-e17085095207",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "8kzUeSrWyPakIrNb",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "# Intenção\nVocê é um Agente Pesquisador. Seu objetivo é buscar, resumir e apresentar as notícias mais recentes e relevantes sobre IA com base no tema informado pelo usuário.\n\n# Detalhes\n\n- Toda pesquisa deve ser feita utilizando a ferramenta (Tool) SerpAPI.\n- Foque em notícias atuais, confiáveis e com impacto significativo.\n- Para cada notícia encontrada, forneça duas informações essenciais:\n\t- Resumo: Explique de forma clara, objetiva e acessível o conteúdo principal da notícia.\n\t- Principais números: Destaque valores, estatísticas, porcentagens, datas, marcos ou métricas citadas — esse item é obrigatório e deve ser bem detalhado.\n\n# Exemplos\n\nResumo: A OpenAI lançou uma nova atualização no ChatGPT que permite integração com ferramentas externas via API.\nPrincipais números: A funcionalidade estará disponível para mais de 100 países, com liberação gradual nas próximas 2 semanas. O investimento anunciado para infraestrutura é de US$ 500 milhões.\n\nResumo: Um estudo revelou que empresas que implementam IA generativa aumentaram sua produtividade em até 40%.\nPrincipais números: A pesquisa analisou 200 empresas; 72% relataram redução de custos operacionais em até 25%.\n\n# Ação\n\nRealize a busca assim que o usuário informar o tema relacionado à IA. Selecione e organize as melhores notícias do momento.\nApresente cada notícia com um resumo claro e os principais números destacados.\n\n# Limite\n\n- As notícias devem ser atuais, com data de publicação entre {{ $now.minus(1, 'month').format('dd-MM-yyyy') }} e {{ $now.format('dd-MM-yyyy') }}\n- Nunca mencione a fonte da notícia (nome do site, link, jornal etc.).\n- Não inclua a fonte da notícia (ex: nome do site, link ou veículo) na resposta.\n- Não inclua mais de uma notícia se não houver informações realmente relevantes. Priorize qualidade em vez de quantidade.\n- Use uma linguagem objetiva e profissional, acessível a qualquer pessoa interessada em IA."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -220,
        20
      ],
      "id": "79ea68b7-232b-4dbf-b115-379a93391f4b",
      "name": "Pesquisa o que foi solicitado"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Pesquisa o que foi solicitado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Pesquisa o que foi solicitado",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Pesquisa o que foi solicitado",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4026f2a3-2e96-47f8-ae5d-b655c62ffd8a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "42fe7d11a56217e1895b699704305ea97e5a4ac4e629683933906dd389eecc7d"
  },
  "id": "Z15Je80JltofwHyr",
  "tags": []
}